{% extends "base.html" %}

{% block main %}
    <h1>Каталог книг</h1>
    <form class="panel-filter" method="GET">
        <label for="author">Автор:</label>
        <select name="author" id="author"></select>
        <input type="submit" value="Найти">
    </form>

    <form class="panel-filter" method="GET">
        <label for="date">Дата публикации:</label>
        <input name="date">
        <input type="submit" value="Найти">    
    </form>

    <div class="wrap">
        {% for book in books %}
            <div class="card">
                <h2 class="title-card">{{ book.title }}</h2>
                <p class="desc-card">{{ book.desc }}</p>
                <a href="{% url 'book' book.id %}">Доп информация</a>
            </div>
        {% endfor %}
    </div>
{% endblock main %}

{% block scripts %}
    <script src="/static/loadForm.js"></script>
{% endblock scripts %}
